@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bpp2en');
  src:  url('fonts/icomoon.eot?bpp2en#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bpp2en') format('truetype'),
    url('fonts/icomoon.woff?bpp2en') format('woff'),
    url('fonts/icomoon.svg?bpp2en#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-f001:before {
  content: "\e900";
}
.icon-f002:before {
  content: "\e901";
}
.icon-f003:before {
  content: "\e902";
}
.icon-f004:before {
  content: "\e903";
}
.icon-f005:before {
  content: "\e904";
}
.icon-f006:before {
  content: "\e905";
}
.icon-f007:before {
  content: "\e906";
}
.icon-f008:before {
  content: "\e907";
}
.icon-f010:before {
  content: "\e908";
}
.icon-f011:before {
  content: "\e909";
}
.icon-f012:before {
  content: "\e90a";
}
.icon-f013:before {
  content: "\e90b";
}
.icon-f014:before {
  content: "\e90c";
}
.icon-f015:before {
  content: "\e90d";
}
.icon-f016:before {
  content: "\e90e";
}
.icon-f017:before {
  content: "\e90f";
}
.icon-f018:before {
  content: "\e910";
}
.icon-f019:before {
  content: "\e911";
}
.icon-f020:before {
  content: "\e912";
}
.icon-f021:before {
  content: "\e913";
}
.icon-f022:before {
  content: "\e914";
}
.icon-f023:before {
  content: "\e915";
}
.icon-f024:before {
  content: "\e916";
}
.icon-f025:before {
  content: "\e917";
}
.icon-f026:before {
  content: "\e918";
}
.icon-f027:before {
  content: "\e919";
}
.icon-f028:before {
  content: "\e91a";
}
.icon-f029:before {
  content: "\e91b";
}
.icon-f030:before {
  content: "\e91c";
}
.icon-f031:before {
  content: "\e91d";
}
.icon-f032:before {
  content: "\e91e";
}
.icon-f033:before {
  content: "\e91f";
}
.icon-f034:before {
  content: "\e920";
}
.icon-f035:before {
  content: "\e921";
}
.icon-f036:before {
  content: "\e922";
}
.icon-f037:before {
  content: "\e923";
}
.icon-f038:before {
  content: "\e924";
}
.icon-f039:before {
  content: "\e925";
}
.icon-f040:before {
  content: "\e926";
}
.icon-f041:before {
  content: "\e927";
}
.icon-f042:before {
  content: "\e928";
}
.icon-f043:before {
  content: "\e929";
}
.icon-f044:before {
  content: "\e92a";
}
.icon-f045:before {
  content: "\e92b";
}
.icon-f046:before {
  content: "\e92c";
}
.icon-f047:before {
  content: "\e92d";
}
.icon-f048:before {
  content: "\e92e";
}
.icon-f049:before {
  content: "\e92f";
}
.icon-f050:before {
  content: "\e930";
}
.icon-f051:before {
  content: "\e931";
}
.icon-f052:before {
  content: "\e932";
}
.icon-f053:before {
  content: "\e933";
}
.icon-f054:before {
  content: "\e934";
}
.icon-f055:before {
  content: "\e935";
}
.icon-f056:before {
  content: "\e936";
}
.icon-f057:before {
  content: "\e937";
}
.icon-f058:before {
  content: "\e938";
}
.icon-f059:before {
  content: "\e939";
}
.icon-f060:before {
  content: "\e93a";
}
.icon-f061:before {
  content: "\e93b";
}
.icon-f062:before {
  content: "\e93c";
}
.icon-f063:before {
  content: "\e93d";
}
.icon-f064:before {
  content: "\e93e";
}
.icon-f065:before {
  content: "\e93f";
}
.icon-f066:before {
  content: "\e940";
}
.icon-f067:before {
  content: "\e941";
}
.icon-f068:before {
  content: "\e942";
}
.icon-f069:before {
  content: "\e943";
}
.icon-f070:before {
  content: "\e944";
}
.icon-f071:before {
  content: "\e945";
}
.icon-f072:before {
  content: "\e946";
}
.icon-f073:before {
  content: "\e947";
}
.icon-f074:before {
  content: "\e948";
}
.icon-f075:before {
  content: "\e949";
}
.icon-f076:before {
  content: "\e94a";
}
.icon-f077:before {
  content: "\e94b";
}
.icon-f078:before {
  content: "\e94c";
}
.icon-f079:before {
  content: "\e94d";
  color: #666;
}
.icon-f080:before {
  content: "\e94e";
}
.icon-f081:before {
  content: "\e94f";
}
.icon-f082:before {
  content: "\e950";
}
.icon-f083:before {
  content: "\e951";
}
.icon-f084:before {
  content: "\e952";
}
.icon-f085:before {
  content: "\e953";
}
.icon-f086:before {
  content: "\e954";
}
.icon-f087:before {
  content: "\e955";
}
.icon-f088:before {
  content: "\e956";
}
.icon-f089:before {
  content: "\e957";
}
.icon-f090:before {
  content: "\e958";
}
.icon-f091:before {
  content: "\e959";
}
.icon-f092:before {
  content: "\e95a";
}
.icon-f093:before {
  content: "\e95b";
}
.icon-f094:before {
  content: "\e95c";
}
.icon-f095:before {
  content: "\e95d";
}
.icon-f096:before {
  content: "\e95e";
}
.icon-f097:before {
  content: "\e95f";
}
.icon-f098:before {
  content: "\e960";
}
.icon-f099:before {
  content: "\e961";
}
.icon-f100:before {
  content: "\e962";
}
.icon-f101:before {
  content: "\e963";
}
.icon-f102:before {
  content: "\e964";
}
.icon-f103:before {
  content: "\e965";
}
.icon-f104:before {
  content: "\e966";
}
.icon-f105:before {
  content: "\e967";
}
.icon-f106:before {
  content: "\e968";
}
.icon-f108:before {
  content: "\e969";
}
.icon-f109:before {
  content: "\e96a";
}
.icon-f110:before {
  content: "\e96b";
}
.icon-f120:before {
  content: "\e96c";
}
.icon-f121:before {
  content: "\e96d";
}
.icon-f122:before {
  content: "\e96e";
}
.icon-f123:before {
  content: "\e96f";
}
.icon-f124:before {
  content: "\e970";
}
.icon-f125:before {
  content: "\e971";
}
.icon-f126:before {
  content: "\e972";
}
.icon-f127:before {
  content: "\e973";
}
.icon-f128:before {
  content: "\e974";
}
.icon-f129:before {
  content: "\e975";
}
.icon-f130:before {
  content: "\e976";
}
.icon-f131:before {
  content: "\e977";
}
.icon-f132:before {
  content: "\e978";
}
.icon-f133:before {
  content: "\e979";
}
.icon-f134:before {
  content: "\e97a";
}
.icon-f135:before {
  content: "\e97b";
}
.icon-f136:before {
  content: "\e97c";
}
.icon-f137:before {
  content: "\e97d";
}
.icon-f138:before {
  content: "\e97e";
}
.icon-f139:before {
  content: "\e97f";
}
.icon-f140:before {
  content: "\e980";
}
.icon-f141:before {
  content: "\e981";
}
.icon-f142:before {
  content: "\e982";
}
.icon-f143:before {
  content: "\e983";
}
.icon-f144:before {
  content: "\e984";
}
.icon-f145:before {
  content: "\e985";
}
.icon-f146:before {
  content: "\e986";
}
.icon-f147:before {
  content: "\e987";
}
.icon-f148:before {
  content: "\e988";
}
.icon-f149:before {
  content: "\e989";
}
.icon-f150:before {
  content: "\e98a";
}
.icon-f151:before {
  content: "\e98b";
}
.icon-f152:before {
  content: "\e98c";
}
.icon-f153:before {
  content: "\e98d";
}
.icon-f154:before {
  content: "\e98e";
}
.icon-f155:before {
  content: "\e98f";
}
.icon-f156:before {
  content: "\e990";
}
.icon-f157:before {
  content: "\e991";
}
.icon-f158:before {
  content: "\e992";
}
.icon-f159:before {
  content: "\e993";
}
.icon-f160:before {
  content: "\e994";
}
.icon-f161:before {
  content: "\e995";
}
.icon-f162:before {
  content: "\e996";
}
.icon-f163:before {
  content: "\e997";
}
.icon-f164:before {
  content: "\e998";
}
.icon-f165:before {
  content: "\e999";
}
.icon-f166:before {
  content: "\e99a";
}
.icon-f167:before {
  content: "\e99b";
}
.icon-f168:before {
  content: "\e99c";
}
.icon-f169:before {
  content: "\e99d";
}
.icon-f170:before {
  content: "\e99e";
}
.icon-f171:before {
  content: "\e99f";
  color: #4a4a4a;
}
.icon-f172:before {
  content: "\e9a0";
}
.icon-f173:before {
  content: "\e9a1";
  color: #d81e06;
}
.icon-f174:before {
  content: "\e9a2";
}
.icon-f175:before {
  content: "\e9a3";
}
.icon-f176:before {
  content: "\e9a4";
}
.icon-f177:before {
  content: "\e9a5";
}
.icon-f178:before {
  content: "\e9a6";
}
.icon-f179:before {
  content: "\e9a7";
}
.icon-f180:before {
  content: "\e9a8";
}
.icon-f181:before {
  content: "\e9a9";
  color: #646464;
}
.icon-f182:before {
  content: "\e9aa";
}
.icon-f183:before {
  content: "\e9ab";
}
.icon-f184:before {
  content: "\e9ac";
}
.icon-f185:before {
  content: "\e9ad";
}
.icon-f186:before {
  content: "\e9ae";
}
.icon-f187:before {
  content: "\e9af";
}
.icon-f188:before {
  content: "\e9b0";
}
.icon-f189:before {
  content: "\e9b1";
}
.icon-f190:before {
  content: "\e9b2";
}
.icon-f191:before {
  content: "\e9b3";
}
.icon-f192:before {
  content: "\e9b4";
}
.icon-f193:before {
  content: "\e9b5";
}
.icon-f194:before {
  content: "\e9b6";
}
.icon-f195:before {
  content: "\e9b7";
}
.icon-f196:before {
  content: "\e9b8";
}
.icon-f197:before {
  content: "\e9b9";
}
.icon-f198:before {
  content: "\e9ba";
}
.icon-f199:before {
  content: "\e9bb";
}
.icon-f200:before {
  content: "\e9bc";
}
.icon-f201:before {
  content: "\e9bd";
}
.icon-f202:before {
  content: "\e9be";
}
.icon-f203:before {
  content: "\e9bf";
}
.icon-f204:before {
  content: "\e9c0";
}
.icon-f205:before {
  content: "\e9c1";
}
.icon-f206:before {
  content: "\e9c2";
}
.icon-f207:before {
  content: "\e9c3";
  color: #8b8b8b;
}
.icon-f208:before {
  content: "\e9c4";
}
.icon-f209:before {
  content: "\e9c5";
}
.icon-f210:before {
  content: "\e9c6";
}
.icon-f211:before {
  content: "\e9c7";
}
.icon-f212:before {
  content: "\e9c8";
}
.icon-f213:before {
  content: "\e9c9";
}
.icon-f214:before {
  content: "\e9ca";
}
.icon-f215:before {
  content: "\e9cb";
}
.icon-f216:before {
  content: "\e9cc";
}
.icon-f217:before {
  content: "\e9cd";
}
.icon-f218:before {
  content: "\e9ce";
}
.icon-f219:before {
  content: "\e9cf";
}
.icon-f220:before {
  content: "\e9d0";
}
.icon-f221:before {
  content: "\e9d1";
}
.icon-f222:before {
  content: "\e9d2";
}
.icon-f223:before {
  content: "\e9d3";
}
.icon-f224:before {
  content: "\e9d4";
}
.icon-f225:before {
  content: "\e9d5";
}
.icon-f226:before {
  content: "\e9d6";
}
.icon-f227:before {
  content: "\e9d7";
}
